<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= @app['name'] %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <meta property="og:title" content="<%= @app['name'] %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= @app['name'] %>" />
    <meta property="og:description" content="My First App" />
    <meta property="fb:app_id" content="<%= @app['name'] %>" />

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
		
		<div id="box-main" style="display: none">
			<div id="log"></div>
			
			<% if @user %>
				Oi <%= @user['name'] %><br />
			<% else %>
				Começe a usar o aplicativo gritar gol
				<a href='/auth/facebook' class="">
					clique aqui
				</a>
			<% end %>
		</div>	
		
		<br /><%=session[:access_token]%>
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= @app['id'] %>",                     // App ID
          channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
          status     : true,                                    // check login status
          cookie     : true,                                    // enable cookies to allow the server to access the session
          xfbml      : true,                                    // parse XFBML
          oauth      : true
        });

        FB.Event.subscribe('auth.login', function(response) {
          window.location = window.location;
        });
				
				FB.getLoginStatus(function(response) {
				  if (response.status === 'connected') {
				    var uid = response.authResponse.userID;
				    var accessToken = response.authResponse.accessToken;
				    //$("#log").append("<br />connected " + response.authResponse.accessToken);
					    <% if @user %>
					    	$("#box-main").show();
					    <% else %>	
					    	window.location.href = "/auth/facebook/callback?code=" + response.authResponse.accessToken;
					    <% end %>	
						FB.api(
						  {
						    method: 'fql.query',
						    query: 'SELECT name FROM user WHERE uid=me()'
						  },
						  function(response) {
						    $("#log").append("<br />name: "+ response[0].name);
						  }
						);
				    
				  } else if (response.status === 'not_authorized') {
				  	$("#box-main").show();
				    $("#log").append("<br />logged ");
				  } else {
				  	$("#box-main").show();
				    // the user isn't logged in to Facebook.
				    $("#log").append("<br />logged in to Facebook");
				  }
				 });
				
        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>    

		
  </body>
</html>